
<div class = "footer">
    <div class = "footer-logos">
        <a href = "https://facebook.com" target="_blank"><button style = "background-color: white; border-style: none;"><i class="fa-brands fa-facebook fa-4x"></i></button></a>
        <a href = "https://instagram.com" target="_blank"><button style = "background-color: white; border-style: none;"><i class="fa-brands fa-instagram fa-4x"></i></button></a>
        <a href = "https://twitter.com" target="_blank"><button style = "background-color: white; border-style: none;"><i class="fa-brands fa-twitter fa-4x"></i></button></a>
    </div>  
    <p class = "footer-text">&copy 2023 NazwaStronki</p>
</div>
<script src="https://kit.fontawesome.com/ce595f84c9.js" crossorigin="anonymous"></script>
</body>