<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNote</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
</head>
<body>
    <div class = "top-panel">
        <div class = "top-bar">
           <div class = "logo"> <a href = "/" style = "text-decoration: none; color:black"><span style="color: #3498DB">B</span>ook<span style="color: #FFDC24">N</span>ote</a> </div>
            <div class = "buttons">
                <a href = "sign_in.ejs" class = "top-button sign-in" style="text-decoration: none;">SING IN </a>
                <a href = "sign_up.ejs" class = "top-button sign-up" style="text-decoration: none;">SING UP </a>     
            </div>
        </div>
        <div class = "middle">
           
                <div class = "middle-left">
                    <p class = "mid-big-text">Read books.<br class = "br-styling"/>
                        Take notes.
                    </p>
                    <p class = "mid-small-text">
                        Keep track of books that you’ve read. <br/>
                        Write summaries, give ratings. <br/>
                        We are here for you.
                    </p>
                    <a href = "sign_up.ejs" style="text-decoration: none;"><button class = "join-for-free-btn">Join for free</button></a>    
                </div>
                <div class = "middle-photo">
                    <img class = "image" src = "assets/images/Book-reading.svg">
                </div>
            
        </div>
    </div>
    <div class = "content-panel">
        <div class = "content-left">
            <div class = "first-el">
                 <div class = "person">
                    <img class = "person-photo" src = "assets/images/women.png">
                    <p class = "person-name">Jane Doe</p>
                    <p class = "person-description">BookNest has truly transformed my reading habits. It's so easy to rate books and keep track of my thoughts. It feels like having a personal reading diary that's both private and incredibly useful.</p>
                </div>
            </div>
            <div class = "second-el">
                <div class = "person">
                    <img class = "person-photo" src = "assets/images/women.png">
                    <p class = "person-name">Jane Doe</p>
                    <p class = "person-description">The functionality to rate books and keep personal notes is a game-changer for me. This site has become my go-to for tracking my reading journey. Its user-friendly interface makes it easy to revisit my past insights, enhancing my overall reading experience.</p>
                </div>
            </div>
        </div>
        <div class = "content-right">
            <p class = "content-text">
                Welcome to BookNote, the perfect spot for book lovers who like to think deeply about what they read. Here, you can rate the books you've read and write down your own thoughts about them in a private space just for you. It’s different from other book sites because it’s a quiet place where you can focus on your own ideas and feelings about your books.
                Our site is super easy to use, making it simple for you to keep track of all the books you’ve read and what you thought about them. It’s like having your own personal book diary that you can look back on to remember your reading journey.
                So, come and join BookNote. Here, every book you read gets its own little space for your thoughts and feelings. It’s a place where your opinions matter and stay safe for you to come back to, anytime you want. Let’s make reading more about discovering ourselves and the stories we love, in our own private corner of the book world.
            </p>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>