<%- include("partials/header.ejs") %>
<div class = "breadcrumb-trail">
    <div class ="breadcrumb-el">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
        <a href = "/user_home.ejs" style="text-decoration: none;">Main Page</a>
    </div>
    <div class ="breadcrumb-el">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
        <a href = "profile.ejs" style="text-decoration: none;">Profile</a>
    </div>
</div>

<div class = "profile-info-container">
    <div class = "profile-main-info">
        <div class = "profile-photo-container">
            <img src = "assets/images/women.png" width="250px">
        </div>
        <div class = "profile-user-info-container">
            <div class = "profile-user-info">
                <div>Username:</div> <div>Jane1337</div>
                <div>Added books:</div> <div>10</div>
                <div>User since:</div> <div>21/11/2023</div>
            </div> 
        </div>
    </div>
    <div class = "profile-about-me">
        <p class = "ab-me">About me</p>
        <p class = "profile-notes">
            Hello! I'm a literature enthusiast who loves diving into new worlds hidden between the pages of books. Every story I read is a journey, and here on this platform, I'm excited to share my adventures and discoveries with you. Whether it's a timeless classic or a hidden gem, I'm here to explore the vast universe of literature, one book at a time. Let's connect and share our favorite reads and insights!
        </p>
    </div>
</div>
<%- include("partials/footer.ejs") %>