<%- include("partials/header.ejs") %>
<div class = "breadcrumb-trail">
    <div class ="breadcrumb-el">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
        <a href = "/user_home.ejs" style="text-decoration: none;">Main Page</a>
    </div>
    <div class ="breadcrumb-el">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
        <a href = "create_new_post.ejs" style="text-decoration: none;">Profile</a>
    </div>
</div>

<div class = "profile-info-container">
    <div class = "profile-main-info">
        <div class = "profile-photo-container">
            <img src = "assets/images/women.png" width="250px">
        </div>
        <div class = "profile-user-info-container">
            <div class = "profile-user-info">
                <div>Username:</div> <div>Jane1337</div>
                <div>Added books:</div> <div>10</div>
                <div>User since:</div> <div>21/11/2023</div>
            </div> 
        </div>
    </div>
    <div class = "profile-about-me">
        <p class = "ab-me">About me</p>
        <p class = "profile-notes">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed nisi nec lectus aliquet volutpat ac at ipsum. Nullam imperdiet a augue aliquet euismod. Nunc volutpat  
            Integer risus est, interdum in odio ac, sollicitudin facilisis tellus. Integer mi mauris, commodo et leo nec, imperdiet convallis ex. Maecenas et sapien vitae metus fermentum semper vitae et tellus. Vivamus vitae erat et lacus auctor porttitor. Duis molestie arcu ipsum, eu aliquet arcu iaculis nec. Duis sagittis nisl non iaculis venenatis. Cras diam ligula, tincidunt eget sodales id, porta at magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean rutrum pharetra nibh non volutpat. Nunc dapibus commodo nisi, et tempor metus ultricies eu. Sed sed consectetur urna.
            Vivamus dapibus feugiat massa, ac viverra erat commodo vitae. Maecenas turpis quam, interdum sit amet mauris ac, faucibus tincidunt tortor. Cras interdum eu dui vitae facilisis. Praesent pharetra lorem tellus, sit amet elementum tellus dignissim vel. Pellentesque eu diam eu eros tempus iaculis. Suspendisse lorem magna, posuere sit amet elementum auctor, pretium sed metus. Morbi sodales magna nisi, id lobortis elit pulvinar non. Curabitur vel convallis nibh. Nulla eget semper lectus. Phasellus iaculis blandit metus quis mattis. Donec in augue purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        </p>
    </div>
</div>
<%- include("partials/footer.ejs") %>